.profile-container
{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

    .profile-picture
    {
        stroke-width: 2px;
        stroke: #262626;
        width: 10%;
        margin: 0.3rem;
    }
    .form-group
    {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        width: 100%;
        label
        {
            color: #000;
            font-family: Poppins;
            font-size: 20px;
            line-height: normal;
            margin-bottom: 0.3rem;
            margin-top: 0.5rem;
        }
        /*  mat-label
        {
            color: #000;
            font-family: Poppins;
            font-size: 20px;
            line-height: normal;
            margin-bottom: 0.3rem;
            margin-top: 0.5rem;
        }  */
        input 
        {
            width: 70%;
            color:black;
            font-family: Poppins;
            font-size: 14px;

            border:none;
            background-color: aliceblue;
        }
        img 
        {
            margin-top: 1%;
            width: 60%;
            height: 1%;
            background: #ACACAC;

        }
    }
}