<div class="form-container">
  <div class="heading">
    <h4>Department list > </h4>
    <h5> Add new Department</h5>
  </div>
  
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label for="departmentName">Department Name:</label>
          <input type="text" id="departmentName" formControlName="departmentName" />
          <span *ngIf="submitted && f['departmentName'].errors && f['departmentName'].errors['required']">
            department Name Name is required
          </span>
        </div>

         <div class="address">
            <div class="form-field">
            <label for="state">State:</label>
            <input type="text" id="state" formControlName="state" />
            <!-- <div *ngIf="registrationForm.get('state')?.invalid && registrationForm.get('state')?.touched">
                State is required.
            </div> -->
            <span *ngIf="submitted && f['state'].errors && f['state'].errors['required']">
              state is required
            </span>
            </div>
        
            <div class="form-field">
            <label for="city">City:</label>
            <input type="text" id="city" formControlName="city" />
            <!-- <div *ngIf="registrationForm.get('city')?.invalid && registrationForm.get('city')?.touched">
                City is required.
            </div> -->
            <span *ngIf="submitted && f['city'].errors && f['city'].errors['required']">
              city is required
            </span>
            </div>

            <div class="form-field">
                <label for="state">postel code:</label>
                <input type="text" id="postelCode" formControlName="postelCode" />
                <span *ngIf="submitted && f['postelCode'].errors && f['postelCode'].errors['required']">
                  postel Code is required
                </span>
            </div>
        </div>


       <div class="email-password">
          <div class="form-field">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" />
          <!-- <div *ngIf="registrationForm.get('email')?.invalid && registrationForm.get('email')?.touched">
            <div *ngIf="registrationForm.get('email')?.errors?.['required']">Email is required.</div>
            <div *ngIf="registrationForm.get('email')?.errors?.['email']">Invalid email format.</div>
          </div> -->
          <span *ngIf="f['email'].invalid && f['email'].touched">
            <span>
              <span *ngIf=" f['email'].errors && f['email'].errors['required']">
                email is required
              </span>
              <span *ngIf="f['email'].errors&& f['email']">
                Invalid email format.
              </span>
            </span>
          </span>
        </div>
      
        <div class="form-field">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password" />
          <span *ngIf="f['password'].invalid && f['password'].touched">
            <span>
              <span *ngIf=" f['password'].errors && f['password'].errors['required']">
                password is required
              </span>
              <span *ngIf="f['password'].errors&& f['password'].errors['minlength']">
                Password must be at least 6 characters long.
              </span>
            </span>
          </span>
        </div>
    
       </div>
        
          <div class="form-field">
            <label for="address">complete Address:</label>
            <textarea rows="4" cols="1" id="address" formControlName="address"></textarea>
            <!-- <div *ngIf="registrationForm.get('address.street')?.invalid && registrationForm.get('address.street')?.touched">
              address is required.
            </div> -->
            <span *ngIf="submitted && f['address'].errors && f['address'].errors['required']">
              address is required
            </span>
          </div>
      
        <div class="button">
         <button  id='cancel' type="submit">cancel</button>
          <button id='add' type="submit">Add Department</button>
        </div>
      </form>
</div>
