.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    .datepicker
    {
        margin: 2rem;
        // border-radius: 8rem;
    }
    .cards
    {
        display: flex;
        width: 100%;
        margin-left: 1rem;
        height: 15vh;
        .card-container
        {
            width: 30vw;
            margin-left: 1rem;
            height: 15vh;
        .img
        {
            #two
            {
                width: 24px;
                height: 24px;
                translate: -52px -28px;
            }  
         }  
        }
        
    }
}

