
  <div class="container">
  <div>
    <mat-form-field class="datepicker">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  </div>

  <div class="cards">
    <mat-card class="card-container">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>6252</mat-card-title>
          <mat-card-subtitle>Total Department</mat-card-subtitle>
          <div class="img">
            <img mat-card-sm-image src="/assets/Ellipse 1.jpg" id="one">
            <img mat-card-sm-image src="/assets/clipboard-export.png" id="two">
        </div>
        </mat-card-title-group>
      </mat-card-header>
      
    </mat-card>
    
    <mat-card class="card-container">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>6252</mat-card-title>
        <mat-card-subtitle>Total Domain</mat-card-subtitle>
        <div class="img">
          <img mat-card-sm-image src="/assets/Ellipse 1.jpg" id="one">
          <img mat-card-sm-image src="/assets/clipboard-export.png" id="two">
      </div>
      </mat-card-title-group>
    </mat-card-header>
    </mat-card>
  
  </div> 
    
</div>

  