 $content-max-width: 1440px;
$content-max-height: 862px;
 

 /* $content-max-width: 100vw;
$content-max-height: 100vw; */


$left-content-max-width: 54.642vh;
$right-content-max-width: 45.357vw;
$content-mobile-width-gap: 15px;
