<!-- <p>forgot-password works!</p> -->
<div class="conatiner">
    <div class="left">
        <div class="square">
            <div class="circle"></div>
            <div class="innerSquare">
                <img class="keylogo" src="/assets/Group.jpg" alt="keylogo">
                <img class="image1" src="/assets/Message.jpg" alt="message">

                <div class="screen">
                    <img class="image2" src="/assets/Group (2).jpg" alt="">
                    <img class="image3" src="/assets/Group (1).jpg" alt="message">
                </div>
                
                <img class="vector" src="/assets/Vector.jpg" alt="message">
                <img class="stars" src="/assets/Group (3).jpg" alt="message">
                <img class="image4" src="/assets/Group (4).jpg" alt="message">
                <img class="image5" src="/assets/Group (5).jpg" alt="message">
                
            </div>
        </div>
    </div>
    <div class="right">
        <button class="back">back</button>
        <div class="innerDiv">
            <h1>Forgot Password</h1>
            <p>Dont worry it happens. Please enter your email address associated with your account.</p>
            <form>   
                <div class="details"> 
                    <label for="email">Enter Email Address</label>
                    <input type="text" id="email" name="email" >
                </div>
                <button type="submit">send password reset link</button>
            </form>
        </div> 
    </div>
</div>
