
@import 'src/app/super-admin/styles/settings/_settings.layout';
@import 'src/app/super-admin/styles/settings/_settings.containers';
@import 'src/app/super-admin/styles/settings/_settings.colors';
@import 'src/app/super-admin/styles/elements/_elements.lists';
.conatiner
 {
   /*  width: $content-max-width;
    height: 862px;
    display: $flex;
    flex-direction: $flex-direction2; */
    @include outerLayout;
    .left
    {
        /* width: 805px;
        height: 862px;
        flex-shrink: 0; */
        @include leftLayout;
        .square
        {
            width: 497px;
            height: 497px;
            flex-shrink: 0;
            margin-top: 185px;
            margin-left: 154px;
            //background-color: #000;
            position: relative;
            .circle
            {
                width: 497px;
                height: 497px;
                flex-shrink: 0;
                border-radius: 497px;
                background: #F4FAFF;
                position: absolute;
            }
            .innerSquare
            {
                width: 420.005px;
                height: 342.849px;
                flex-shrink: 0;
                margin-left: 7px;
                //background-color: #5B6D8E;
                position: absolute;
                top: 76px;
                .keylogo
                {
                    width: 76.415px;
                    height: 95.031px;
                    flex-shrink: 0;
                    left: 36.61px;
                    top: 0px;
                }
                .image1
                {
                    width: 153.713px;
                    height: 93.757px;
                    flex-shrink: 0;
                    position: absolute;
                    top: 106.54px;
                    left: 0px;
                }
            
                .screen
                {
                    width: 286.261px;
                    height: 226.999px;
                    flex-shrink: 0;
                    position: absolute;
                    left: 133.74px;
                    top: 19.35px;
                    .image2
                    {
                        width: 201.976px;
                        height: 185.424px;
                        flex-shrink: 0;
                        position: relative;
                       
                    }
                    .image3
                    {
                        width: 170.464px;
                        height: 94.179px;
                        flex-shrink: 0;
                        position: absolute;
                        top: 132.82px;
                        left: 115.8px;
                    }
                }
                
                .vector
                {
                    width: 47.643px;
                    height: 51.642px;
                    flex-shrink: 0;
                    fill: #F5F5F5;
                    position: absolute;
                    top: 220.18px;
                    left: 87.79px;
                }
                .stars
                {
                    width: 64.09px;
                    height: 19.079px;
                    flex-shrink: 0;
                    position: absolute;
                    top: 281.16px;
                    left: 78.13px;
                }
                .image4
                {
                    width: 108.093px;
                    height: 41.42px;
                    flex-shrink: 0;
                    position: absolute;
                    top: 260.06px;
                    left: 305.65px;
                }
                .image5
                {
                    width: 108.082px;
                    height: 41.412px;
                    flex-shrink: 0;
                    position: absolute;
                    top: 290.06px;
                    left: 301px;
                }
                
            }
        }
    }
    .right
    {
        /* width: 635px;
        height: 862px;
        flex-shrink: 0;
        background: #F4FAFF; */
        @include RightLayout;
        .back
        {
            display: $flex;
            width: 90px;
            height: 33px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 40px;
            background: $color-blue-button;
            margin-left: 511px;
            margin-top: 33px;
        }
        .innerDiv
        {
            width: 426px;
            height: 173px;
            flex-shrink: 0;
            margin-top: 273px;
            margin-left: 104px;
            
            p 
            {
                color: $color-black;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px; 
            }
            form
            {    
    
                button
                {
                    display: $flex;
                    width: 426px;
                    height: 54px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    background: $color-blue-button;
                    box-shadow: $button-box-shadow; 
                }
            }
        }
    }
 }