<!-- <p>create-password works!</p> -->

<div class="container">
    <div class="left">
        <div class="square">
            <div class="circle"></div>
            <div class="innerSquare">
                <img class="image2" src="/assets/Group (13).jpg" alt="message"> 
                <img class="padLock" src="/assets/Padlock.jpg" alt="message"> 
                

                <div class="device">
                    <div class="innerdevice">
                      <img class="threeLine" src="/assets/Group (15).jpg" alt="message">
                      <img class="homeVector" src="/assets/Vector (2).jpg" alt="homeVector">
                      <img class="deviceLogo" src="/assets/Group (11).jpg" alt="message">
                      <img class="passwordImage" src="/assets/Group (8).jpg" alt="message">
                      <img class="vectoeLine" src="/assets/Vector (1).jpg" alt="message">
                        <img class="star" src="/assets/Group (9).jpg" alt="message">
                        <img class="doneButton" src="/assets/Group (10).jpg" alt="message">
                        <img class="dots" src="/assets/Group (6).jpg" alt="message">
                    </div>   
                </div>
                <img class="image3" src="/assets/Group (14).jpg" alt="message"> 
                
            </div>
        </div>
    </div>
  
  
    <div class="right">
        <div class="innerDiv">
            <h2> create Password</h2>
      <form>
        <div class="details">
            <div class="details1">
                <label for="password">create new passWord</label>
                <div class="text">
                  <input type="text" id="password1" name="password" >
                  <!-- <img class="image3" src="/assets/Group (14).jpg" alt="message">  -->
                </div>
                
             </div>
             <div class="details1">
                <label for="password">confirm password</label>
                <div class="text">
                  <input type="text" id="password2" name="password" >
                </div>
              </div>
        </div>
        
          <p>*Password should contain min. 8 letter, uses uppercase and lowercase letters, numbers and special symbols.</p>
        <button type="submit">save</button>
      </form>
    </div>
  </div>
</div>  
   