@import 'src/app/super-admin/styles/settings/_settings.layout';
@import 'src/app/super-admin/styles/settings/_settings.containers';
@import 'src/app/super-admin/styles/settings/_settings.colors';
@import 'src/app/super-admin/styles/elements/_elements.lists';

@import 'src/app/super-admin/styles/tools/_tools.mediaquery';
.container
 {
    /* width: $content-max-width;
    height: $content-max-height;
    display:flex;
    flex-direction: $flex-direction2; */
    @include  outerLayout;
    .left
    {
       /*  width: 805px;
        height: $content-max-height;
        flex-shrink: 0; */
        @include leftLayout;
        .square
        {
            width: 497px;
            height: 497px;
            flex-shrink: 0;
            margin-top: 185px;
            margin-left: 154px;
            //background-color: #000;
            position: relative;
            .circle
            {
                width: 497px;
                height: 497px;
                flex-shrink: 0;
                border-radius: 497px;
                background: #F4FAFF;
                position: relative;
            }
            .innerSquare
            {
                width: 339.366px;
                height: 356.662px;
                flex-shrink: 0;
                margin-left: 7px;
                //background-color: #5B6D8E;
                position: absolute;
                top: 76px;
                .image2
                {
                    width: 76.431px;
                    height: 104.954px;
                    flex-shrink: 0;
                    top: 182.05px;
                    left: 15.74px;
                    position: absolute;
                }
                .padLock
                {
                    width: 132.176px;
                    height: 133.051px;
                    flex-shrink: 0;
                    //left: 10px;
                    top: 91.52px;
                    position: relative;
                }
                
                .device
                {
                    width: 175.308px;
                    height: 356.662px;
                    flex-shrink: 0;
                    left: 95.83px;
                    top: 0px;
                    //fill: #263238;
                    background-color: #263238;
                    position: absolute;
                    border-radius: 20px;
                    
                    .innerdevice
                    {
                        width: 159.133px;
                        height: 333.586px;
                        flex-shrink: 0;
                        //fill: #FFF;
                        //fill: #263238;
                        background-color:#FFF ;
                        position: absolute;
                        left: 8.9px;
                        top: 10.74px;
                        border-radius: 20px;
                        .homeVector
                        {
                            width: 11.123px;
                            height: 11.477px;
                            flex-shrink: 0;
                            position: absolute;
                            left: 16.03px;
                            top: 29.53px;

                        }
                        .threeLine
                        {
                            width: 13.807px;
                            height: 7.268px;
                            flex-shrink: 0;
                            position: absolute;
                            left: 127.48px;
                            top: 29.94px;
                        }
                        .deviceLogo{
                            width: 49.701px;
                            height: 49.337px;
                            flex-shrink: 0;
                            top:45.11px;
                            left:62.81px;
                            position: absolute;
                        }
                        .passwordImage
                        {
                            width: 90.441px;
                            height: 13.686px;
                            flex-shrink: 0;
                            position: absolute;
                            top: 105.99px;
                            left: 36.45px;

                        }
                        .vectoeLine
                        {
                            width: 136.78px;
                            height: 0.427px;
                            flex-shrink: 0;
                            fill: #E0E0E0;
                            position: absolute;
                            top: 129.86px;
                            left: 12.01px;
                            
                        }
                        .star
                        {
                            width: 138.039px;
                            height: 33.69px;
                            flex-shrink: 0;
                            position: absolute;
                            top: 150.65px;
                            left: 10.55px;
                            
                        }
                        
                        .doneButton
                        {
                            width: 140.41px;
                            height: 24.414px;
                            flex-shrink: 0;
                            position: absolute;
                            top: 211.01px;
                            left: 10.75px;
                        }
                        .dots
                        {
                            width: 30.881px;
                            height: 4.857px;
                            flex-shrink: 0;
                            position: absolute;
                            top: 308.39px;
                            left: 63.58px; 
                        }
                            
                    }
                }
                .image3
                {
                    width: 68.058px;
                    height: 65.985px;
                    flex-shrink: 0;
                    position: absolute;
                    top: 213.8px;
                    left: 271.31px;
                }
            }
        }
    }
    .right
    {
        /* width: 635px;
        height: $content-max-height;
        flex-shrink: 0;
        background: #F4FAFF; */
        @include  RightLayout;
        .innerDiv
        {
            width: 426px;
            height: 173px;
            flex-shrink: 0;
            margin-top: 273px;
            margin-left: 104px;
            h2
            {
                color: var(--accent-black, #0A0045);
                font-family: Poppins;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 35px; /* 109.375% */
                letter-spacing: -0.64px;
            }
            form
            {
                .details
                {
                    display: flex;
                    width: 424px;
                    flex-direction: $flex-direction1;
                    align-items: flex-start;
                    gap: 20px;

                    .details1
                    {
                        display: $flex;
                        width: 426px;
                        flex-direction: $flex-direction1;
                        align-items: flex-start;
                        gap: 8px;
                        label
                        {
                            color: #858585;
                            font-family: Poppins;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        input 
                        {
                            width: 426px;
                            height: 54px;
                            flex-shrink: 0;
                            border-radius: 10px;
                            border: 0.5px solid #D6D3D3;
                            background: #FFF;
                        }

                    }
                }
                p 
                {
                    color: var(--gray-600, #5B6D8E);
                    font-family: Poppins;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 426px;
                }
    
        
                button
                {
                    display: flex;
                    width: 426px;
                    height: 54px;
                    padding: 10px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    background: $color-blue-button;
                    box-shadow: $button-box-shadow; 
                }
            }
        }   
    }
}