<div class="container">
    <div class="heading">
        <h4>Department List</h4>
    </div>

    <div class="cards">
        <mat-card class="card-container">
          <mat-card-header class="cardHeader">
            <mat-card-title-group class="cardTitle">
              <mat-card-title>6252</mat-card-title>
              <mat-card-subtitle>Total Department</mat-card-subtitle>
              <div class="img">
                <img mat-card-sm-image src="/assets/Ellipse 1.jpg" id="one">
                <img mat-card-sm-image src="/assets/clipboard-export.png" id="two">
            </div>
            </mat-card-title-group>
          </mat-card-header>
          
        </mat-card>
        
        <mat-card class="card-container">
          <mat-card-header class="cardHeader">
            <mat-card-title-group class="cardTitle">
            <mat-card-title>6252</mat-card-title>
            <mat-card-subtitle>Total Domain</mat-card-subtitle>
            <div class="img">
              <img mat-card-sm-image src="/assets/Ellipse 1.jpg" id="one">
              <img mat-card-sm-image src="/assets/clipboard-export.png" id="two">
          </div>
          </mat-card-title-group>
        </mat-card-header>
        </mat-card>
      
      </div> 
    <div class="tableTop">
        <div class="datepicker">
            <mat-form-field  class="date">
            <mat-label>select a start date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          </div>
         <!--  <div class="datepicker" >
            <mat-form-field >
            <mat-label>select a end date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          </div> -->

          <div class="filter">
             <mat-form-field>
            <mat-label>search</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. olive" #input>
            </mat-form-field>
          </div>
          <div class="button">
            <!-- <button id="add" mat-flat-button (click)="addDepartment()">Add new department</button> -->
             <button mat-button [routerLink]="'/departmentM/addNewDp'"  id="add" > Add New Department</button> 
          </div>
    </div>
          <div class="table">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> S No. </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.position}} </td> -->
                <td  class="colSpace" mat-cell *matCellDef="let element" > 
                  <span *ngIf="!element.editable; else editPlace">
                  {{element.position}} 
                  </span>
                  <ng-template #editPlace>
                  <input class="input" [(ngModel)]="element.position" (keyup.enter)="element.editable = false">
                  </ng-template>
                </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="departmentName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Department Name </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td> -->
                <td class="colSpace" mat-cell *matCellDef="let element" > 
                  <span *ngIf="!element.editable; else editPlace">
                  {{element.departmentName}} 
                  </span>
                  <ng-template #editPlace>
                  <input class="input"[(ngModel)]="element.departmentName" (keyup.enter)="element.editable = false">
                  </ng-template>
                </td>
              </ng-container>
          
              <!-- address Column -->
              <ng-container matColumnDef="departmentAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Department Address </th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.departmentAddress}} </td> -->
                <td class="colSpace" mat-cell *matCellDef="let element" > 
                  <span *ngIf="!element.editable; else editPlace">
                  {{element.departmentAddress}} 
                  </span>
                  <ng-template #editPlace>
                  <input class="input" [(ngModel)]="element.departmentAddress" (keyup.enter)="element.editable = false">
                  </ng-template>
                </td>
              </ng-container> 
          
              <!-- domain Column -->
              <ng-container matColumnDef="noOfDomain">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Domain</th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.noOfDomain}} </td>   -->
                <td class="colSpace" mat-cell *matCellDef="let element" > 
                  <span *ngIf="!element.editable; else editPlace">
                  {{element.noOfDomain}} 
                  </span>
                  <ng-template #editPlace>
                  <input class="input" [(ngModel)]="element.noOfDomain" (keyup.enter)="element.editable = false">
                  </ng-template>
                </td>
              </ng-container>

              <!-- date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <!-- <td mat-cell *matCellDef="let element"> {{element.date}} </td> -->
                <td class="colSpace" mat-cell *matCellDef="let element" > 
                  <span *ngIf="!element.editable; else editPlace">
                  {{element.date}} 
                  </span>
                  <ng-template #editPlace>
                  <input class="input" [(ngModel)]="element.date" (keyup.enter)="element.editable = false">
                  </ng-template>
                </td>
              </ng-container>


              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td class="colSpace" mat-cell *matCellDef="let element">               
                  <button mat-icon-button matTooltip="Click" (click)="edit(element)" class="iconbutton" color="primary">
                    <mat-icon>{{element.action}}</mat-icon> 
                    </button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[4, 8, 16]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
              
       
    </div>