
.container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 248, 248);
    .top
    {
        width: 100%;
        height: 11%;
    }
    .bottom 
    {
        width: 100%;
        height: 89%;
        // background-color: aquamarine;
        display: flex;
        flex-direction: row;
        .menu-bar
        {
            width: 18%;
            height: 100%;
        }
        .form
        {
            width: 78%;
            height: 100%;
             margin-left: 1rem;
            // justify-content: left;
            //  background-color: rgb(240, 63, 63);
        }

    }
}